<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GalleryView - {{channel_name}} </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/pico.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
    {{ fontawesome_html() }}
</head>

<body data-theme="dark">
    <style>
        /* Center the modal content */
        #modalContent {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /* Blur the background when the modal is open */
        body.modal-open {
            overflow: hidden;
        }

        #imageModal {
            z-index: 9999;
        }
    </style>

    <!-- Gallery Grid -->
    <div class="container mx-auto p-2 lg:px-2 lg:pt-4">
        <div class="-m-1 flex flex-wrap md:-m-2">

            {% for images in images_set %}
            <div class="flex w-1/2 flex-wrap">

                {% for url, name in images %}
                <div class="w-1/2 p-1 md:p-2">
                    <img alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all duration-300 ease-in-out"
                        src="{{url}}" alt="{{name}}" loading="lazy" name="{{name}}"/>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

    </div>

    <!-- Modal Container -->
    <div id="Modal" class="hidden fixed inset-0 p-2 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="h-[92%] w-auto mx-auto">
            <img id="modalImage"  class="rounded-lg max-h-full h-fit w-fit" alt="modal-image" src="" />
            <!-- Text for image name (should be on top center)-->
            <div class="absolute top-0 left-0 right-0 flex justify-center items-center z-10">
                <p id="modalImageName" class="text-white text-1xl"></p>
            </div>

        </div>
    </div>

    <script>
        const modal = document.getElementById('Modal');

        function showModal(url, name) {
            const modalImage = document.getElementById('modalImage');
            modalImage.src = url;
            modal.classList.remove('hidden');

            const modalImageName = document.getElementById('modalImageName');
            modalImageName.innerHTML = name;

            document.body.classList.add('modal-open');

            modal.onclick = function () {
                modal.classList.add('hidden');
                document.body.classList.remove('modal-open');
            };
        }

        for (const image of document.getElementsByTagName('img')) {
            image.onclick = function () {
                showModal(image.src, image.name);
            };
        }
    </script>

</body>

</html>